In [1]:
import pandas as pd
import bamboolib as bam
import plotly.express as px
import numpy as np
from datetime import datetime
import re
bam.enable()
url1 = "https://dshs.texas.gov/coronavirus/TexasCOVID19DailyCountyCaseCountData.xlsx"
url2 = "https://dshs.texas.gov/coronavirus/TexasCOVID-19CumulativeTestsOverTimebyCounty.xlsx"
path1 = "./Rt_no_Rolling.csv"
def getExcel(url, sheet, head):
    df = pd.read_excel(url,sheet_name=sheet, header=head)
    df=df.truncate(before=0,after=253)
    return df

df = getExcel(url1, 'Cases by County', 2)
df.keys()
df2 = df.set_index('County Name')

dftesting  = getExcel(url2, 'Total Tests Received', 1)
dftesting.keys()
dft2 = dftesting.set_index('County')
dft2 = dft2.reset_index()

dfrate = pd.read_csv(path1)

dfrate

Success: the bamboolib extension was enabled successfully. You can disable it via 'bam.disable()'. You will now see a magic bamboolib button when you display your dataframes, for example via 'df'

,Unnamed: 0,Anderson,Andrews,Angelina,Aransas,Archer,Armstrong,Atascosa,Austin,Bailey,...,Willacy,Williamson,Wilson,Winkler,Wise,Wood,Yoakum,Young,Zapata,Zavala
0,2020/3/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020/3/6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020/3/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020/3/8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020/3/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2020/9/13,0.320812,1.380490,0.540523,0.406813,0.749298,2.061593,1.148541,1.069032,3.048029,...,0.252357,1.350874,1.024860,1.061591,1.605650,1.420127,1.998175,1.905019,0.182385,0.887911
193,2020/9/14,0.247374,1.311230,0.894593,0.702409,0.651624,1.823668,0.791963,1.457872,4.648033,...,0.439795,1.525974,0.635398,0.870760,1.434188,0.879529,2.179665,1.995336,0.278546,0.668338
194,2020/9/15,0.286360,1.007261,0.751476,1.328446,0.535562,0.863449,0.644106,1.432906,4.140474,...,0.618158,1.480184,0.385333,0.812385,1.154528,1.141701,1.258516,1.947267,0.392049,0.928686
195,2020/9/16,0.348137,0.938159,0.819813,2.008962,0.577297,0.845902,0.352257,1.234989,2.529759,...,0.860722,1.560723,0.348761,0.695975,0.944931,1.172038,1.184990,1.420340,0.535348,0.610823
196,2020/9/17,0.473343,0.881037,0.895380,1.915822,0.667343,0.885073,0.379719,1.421686,1.740825,...,0.998112,1.435199,0.393660,0.750929,0.896719,1.177599,0.997157,1.202227,0.726655,0.678961

In [2]:
dft3 = dft2.T.copy()
dft3 = dft3.reset_index()
dft3 = dft3.replace('--', np.nan)
dft3 = dft3.replace('-', np.nan)
dft3 = dft3.fillna(method='ffill')

In [3]:
dft3 = dft3.T.copy()
dft3 = dft3.reset_index()
dft3.columns = [str(column) for column in dft3.columns]
dft3

,index,0,1,2,3,4,5,6,7,8,...,136,137,138,139,140,141,142,143,144,145
0,index,County,Tests Through April 21,Tests Through April 22,Tests Through April 23,Tests Through April 24,Tests Through April 25,Tests Through April 26,Tests Through April 27,Tests Through April 28,...,Tests Through September 3,Tests Through September 4,Tests Through September 5,Tests Through September 6,Tests Through September 7,Tests Through September 8,Tests Through September 9,Tests Through September 10,Tests Through September 11,Tests Through September 12
1,0,Anderson,270,282,297,329,337,337,360,360,...,24399,24446,24490,25102,25291,25430,25569,25569,25622,26253
2,1,Andrews,2,2,5,6,6,6,6,6,...,1257,1261,1267,1271,1281,1283,1286,1286,1298,1308
3,2,Angelina,282,311,431,434,469,468,544,552,...,13374,13483,13531,13619,13658,13694,14270,14275,14390,14895
4,3,Aransas,16,17,15,24,27,27,27,27,...,1721,1738,1751,1756,1815,1816,1886,1895,1912,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,249,Wood,75,81,54,81,84,84,86,86,...,3040,3092,3108,3338,3372,3376,3459,3459,3523,3903
251,250,Yoakum,14,14,2,11,12,12,12,12,...,757,759,765,773,829,831,835,835,934,938
252,251,Young,311,322,96,269,279,279,286,286,...,1856,1863,1873,1879,1890,1891,1899,1899,1907,1943
253,252,Zapata,18,18,21,23,24,24,27,28,...,3091,3292,3299,3301,3309,3310,3317,3317,3361,3469
254,253,Zavala,10,10,13,15,13,13,13,13,...,1687,1700,1712,1726,1728,1730,1740,1740,1770,1815

In [4]:
dft3.shape

(255, 147)